// Fonts
$main-font: "Gandhi Serif", serif;
$grotesk: "HK Grotesk Legacy", sans-serif;

$font-color: #1b1726;

// Brand
$black: #1b1726;
$red: #ff0000;
$blue: #0b2358;
$gray: #66646e;

// Options
$trans: 0.5s;
