<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Giardion</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <!-- Header -->
  @@include("../blocks/modules/header/header.html")

  <!-- Main -->
  <main class="main">
    <!-- Products -->
    <section class="section pdp">
      <div class="container">
        <!-- About Product -->
        <div class="pdp__row">
          <!-- Gallery -->
          <div class="pdp__col pdp__col-left">
            <div class="pdp__gallery">
              <div class="pdp__slider pdp__slider-for">
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide2.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide2.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide2.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide2.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
              </div>

              <div class="pdp__slider pdp__slider-nav">
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide2.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide2.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide2.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide2.png" alt="">
                </div>
                <div class="pdp__slide">
                  <img src="img/temp/pdp-slide.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <!-- Control -->
          <div class="pdp__col pdp__col-right">
            <div class="pdp-control">
              <h1 class="pdp__title">Fitted sheet</h1>
              <div class="pdp__title-caption">Designed in Monte-Carlo, Monaco</div>

              <table class="pdp-params">
                <tr>
                  <td class='pdp-params__left'>Composition:</td>
                  <td class='pdp-params__right'>100% cotton sateen 350 TC</td>
                </tr>
                <tr>
                  <td class='pdp-params__left'>Embroidery:</td>
                  <td class='pdp-params__right'>silver and gold lurex</td>
                </tr>
              </table>

              <div class="pdp-include">
                <span class="pdp-include__caption">What’s included:</span>
                <span class="pdp-include__value">1 duvet cover + 2 standard shams</span>
              </div>

              <div class="pdp__options">
                <div class="pdp__color pdp-look__color pdp__option">
                  <div class="pdp-look__caption">Color:</div>
                  <div class="pdp-look__color-list text-center">
                    <div class="pdp-look__color-option active">
                      <div class="pdp-look__color-preview">
                        <img src="img/direction-1.png" alt="">
                      </div>
                      <div class="pdp-look__color-name">White</div>
                    </div>

                    <div class="pdp-look__color-option">
                      <div class="pdp-look__color-preview">
                        <img src="img/direction-1.png" alt="">
                      </div>
                      <div class="pdp-look__color-name">Grey</div>
                    </div>

                    <div class="pdp-look__color-option">
                      <div class="pdp-look__color-preview">
                        <img src="img/direction-1.png" alt="">
                      </div>
                      <div class="pdp-look__color-name">Multi-color</div>
                    </div>
                  </div>
                </div>

                <div class="pdp__size pdp__option">
                  <div class="pdp-look__caption">Size:</div>
                  <div class="pdp-look__size-list pdp__size-list">
                    <div class="pdp__size-select select">
                      <select>
                        <option value="0">200x240x30 cm</option>
                        <option value="1">200x240x12 cm</option>
                        <option value="2">200x240x33 cm</option>
                        <option value="3">200x240x50 cm</option>
                      </select>
                    </div>
                    <a href='/bed-sheet.pdf' class="pdp__guide pdp__size-guide" target='_blank'>Size guide</a>
                    <div class="pdp-measure">
                      <div class="pdp-measure">
                        <div class="pdp-measure__btn active">cm</div>
                        <div class="pdp-measure__btn">inc</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="pdp__collection">
                  <div class="pdp__collection-head pdp__option dropdown-toggler">
                    <div class="pdp-look__caption">COMPLETE YOUR COLLECTION “Christmas toys”</div>
                  </div>

                  <div class="pdp__collection-body pdp__option" style='display: none;'>
                    <div class="pdp__collection-row">
                      <label class="checkbox pdp__collection-checkbox">
                        <a class='pdp__collection-link' href="/product-page-collection.html" target='_blank'>Duvet
                          cover</a>
                        <input class='checkbox__input' type="checkbox">
                        <span class="checkbox__mark"></span>
                      </label>

                      <div class="pdp__collection-size pdp__size-select select">
                        <select>
                          <option value="0">200x240x30 cm</option>
                          <option value="1">200x240x12 cm</option>
                          <option value="2">200x240x33 cm</option>
                          <option value="3">200x240x50 cm</option>
                        </select>
                      </div>

                      <a href='/bed-sheet.pdf' class="pdp__guide" target='_blank'>Size guide</a>
                      <div class="pdp__collection-price">655.00€</div>
                    </div>

                    <div class="pdp__collection-row">
                      <label class="checkbox pdp__collection-checkbox">
                        <a class='pdp__collection-link' href="/product-page-collection.html"
                          target='_blank'>Pillowcase</a>
                        <input class='checkbox__input' type="checkbox">
                        <span class="checkbox__mark"></span>
                      </label>

                      <div class="pdp__collection-size pdp__size-select select">
                        <select>
                          <option value="0">200x240 + 75x75 (x2)</option>
                          <option value="1">200x240 + 75x75 (x2)</option>
                          <option value="2">200x240x33 cm</option>
                          <option value="3">200x240x50 cm</option>
                        </select>
                      </div>

                      <a href='/bed-sheet.pdf' class="pdp__guide" target='_blank'>Size guide</a>
                      <div class="pdp__collection-price">100.00€</div>
                    </div>

                    <div class="pdp__collection-towel towel">
                      <div class="pdp__collection-row">
                        <label class="checkbox pdp__collection-checkbox">
                          <a class='pdp__collection-link' href="/product-page-collection.html" target='_blank'>Towel</a>
                          <input class='checkbox__input' type="checkbox">
                          <span class="checkbox__mark"></span>

                          <div class="tooltip">
                            <div class="tooltip__icon">
                              <img src="img/svg/icon-tooltip.svg" alt="">
                            </div>
                            <div class="tooltip__info">
                              <table>
                                <tr>
                                  <td>What’s included:</td>
                                  <td>Standard shams
                                    1 duvet cover</td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </label>

                        <div class="pdp__collection-size pdp__size-select select">
                          <select>
                            <option value="0">200x240x30 cm</option>
                            <option value="1">200x240x12 cm</option>
                            <option value="2">200x240x33 cm</option>
                            <option value="3">200x240x50 cm</option>
                          </select>
                        </div>

                        <div class="pdp__collection-price">50.00€</div>
                      </div>

                      <div class="towel-colors">
                        <div class="towel-colors__caption">
                          Towel Color: <span>Blue</span>
                        </div>
                        <div class="towel-colors__list">
                          <div class="towel-colors__item active" style='background-color: #f0f0f0;'></div>
                          <div class="towel-colors__item" style='background-color: #C2C1C5;'></div>
                          <div class="towel-colors__item" style='background-color: #0A7DE9;'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pdp__price">655.00€</div>

              <div class="pdp__buttons row-flex">
                <button class="btn btn_blue pdp__buttons-item col">Add to CART</button>
                <div class="pdp__buttons-divider pdp__buttons-item pdp__buttons-mob col">Or</div>
                <button class="btn btn_trans pdp__buttons-payment pdp__buttons-item col"><img src="img/paypal.png"
                    alt=""></button>
                <button class="btn btn_trans pdp__buttons-payment pdp__buttons-item pdp__buttons-mob col"><img
                    src="img/applepay.png" alt=""></button>

              </div>

            </div>
          </div>
        </div>

        <!-- Info -->
        <div class="pdp__row">
          <!-- Tabs -->
          <div class="pdp__col pdp__col-left">
            <div class="pdp-tabs">
              <!-- Tabs Nav -->
              <div class="pdp-tabs__nav flex">
                <div class="pdp-tabs__nav-item pdp-subtitle active" data-tab-target='1'>Description</div>
                <div class="pdp-tabs__nav-item pdp-subtitle" data-tab-target='2'>Care guide</div>
              </div>

              <!-- Tabs body -->
              <div class="pdp-tabs__body">
                <div class="pdp-tabs__tab pdp-text active" data-tab='1' style='display: block;'>
                  The finest fabric, indicated design and exquisite embroidery which have already become the signature
                  of the brand will wrap you in the atmosphere of winter holidays. Close your eyes and think of
                  Christmas. Designed in Monte-Carlo, Monaco.
                </div>
                <div class="pdp-tabs__tab pdp-text" data-tab='2'>
                  The finest fabric, indicated design and exquisite embroidery which have already become the signature
                  of the brand will wrap you in the atmosphere of winter holidays. Close your eyes and think of
                  Christmas. Designed in Monte-Carlo, Monaco.
                  The finest fabric, indicated design and exquisite embroidery which have already become the signature
                  of the brand will wrap you in the atmosphere of winter holidays. Close your eyes and think of
                  Christmas. Designed in Monte-Carlo, Monaco.
                </div>
              </div>
            </div>
          </div>
          <div class="pdp__col pdp__col-right">
            <div class="pdp__delivery">
              <div class="pdp-subtitle">Delivery & Returns</div>
              <div class="pdp-text">
                We hope you’ll be delighted with your purchases.
                Everything is delivered to you pre-washed and carefully packaged.
                Should you wish to return your table linen, please do so within 14 days. Unfortunately we are unable to
                accept returns on bed linen. Please refer to our <a href="#">Delivery</a> and <a href="#">Returns
                  page</a> for more information.
              </div>
            </div>
          </div>
        </div>

        <!-- Looks -->
        @@include("../blocks/modules/complete-look/complete-look.html")

      </div>
    </section>

    <!-- Products -->
    @@include("../blocks/modules/also-like/also-like.html")
  </main>

  @@include("../blocks/modules/footer/footer.html")

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>